body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.google {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #4285F4;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.google:hover {
  background-color: #2B83EA;
  color: white;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}


.card {
  display: flex;
  width: 220px;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-image img {
  width: 50%;
  height: auto;
  padding: 10px 0 10px 10px;
}

.card-title {

  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.card-content {
  padding: 20px;
}
